body{
	width: 1024px;
	margin: 0 auto;
	background-color: black;
	color:white;

}

header {
	text-align: center;
}

header, .choice {
	margin-bottom: 60px; 
}
.result {
	margin-top: 60px;
}
button{
	cursor:pointer;
}
